<div id="comingsoon">
<h1>Welcome to Callingwood</h1>
<div class="maintab">
<div class="lefty">
<div class="circle_logo"><div id="logo_m">CW</div></div>
</div>
<div class="righty">
<p>How about getting your perfect setting to celebrate your leisure at marginal cost? Isn't it great?</p>
<p><br/> We are coming soon to make your lives and homes beautiful.</p>
</div>
<div class="clear"></div>
</div>
</div>
