<div id="product-box">
<div id="leftbox">
<ul class="nice-menu">
<li class="orange"><a href="">Home</a></li>
<li class="red"><a href="">Product Index</a></li>
<li class="green"><a href="">Ask Our Expert</a></li>
<li class="blue"><a href="">Blog</a></li>
<li class="bright"><a href="">Contact</a></li>
<li class="dark"><a href="">What not?</a></li>
</ul>
</div>


<div id="productbox">
<div id="slide-box">
		<div class="slider">
			<div class="sliderContent">
				<div class="item">
					<img src="/assets/advt.png" alt="" />
				</div>
				<div class="item">
					<img src="/assets/advt.png" alt="" />
				</div>
				<div class="item">
					<img src="/assets/advt.png" alt="" />
				</div>
				<div class="item">
					<img src="/assets/advt.png" alt="" />
				</div>
				<div class="item">
					<img src="/assets/advt.png" alt="" />
				</div>
				<div class="item">
					<img src="/assets/advt.png" alt="" />
				</div>
			</div>
		</div>
		</div>

<div class="pro-individual">
<img src="/assets/sofa.jpg" />
<div class="title-price">
<span>White Lined Sofa</span>
<div class="below-product">
<div>Living, Sofa</div>
<div></div>
<div><a href="#">Details</a></div>
</div>
</div>
</div>
<div class="pro-individual">
<img src="/assets/sofa.jpg" />
<div class="title-price">
<span>White Lined Sofa</span>
<div class="below-product">
<div>Living, Sofa</div>
<div></div>
<div><a href="#">Details</a></div>
</div>
</div>
</div>
<div class="pro-individual">
<img src="/assets/sofa.jpg" />
<div class="title-price">
<span>White Lined Sofa</span>
<div class="below-product">
<div>Living, Sofa</div>
<div></div>
<div><a href="#">Details</a></div>
</div>
</div>
</div>

<div class="pro-individual">
<img src="/assets/sofa.jpg" />
<div class="title-price">
<span>White Lined Sofa</span>
<div class="below-product">
<div>Living, Sofa</div>
<div></div>
<div><a href="#">Details</a></div>
</div>
</div>
</div>
<div class="pro-individual">
<img src="/assets/sofa.jpg" />
<div class="title-price">
<span>White Lined Sofa</span>
<div class="below-product">
<div>Living, Sofa</div>
<div></div>
<div><a href="#">Details</a></div>
</div>
</div>
</div>
<div class="pro-individual">
<img src="/assets/sofa.jpg" />
<div class="title-price">
<span>White Lined Sofa</span>
<div class="below-product">
<div>Living, Sofa</div>
<div></div>
<div><a href="#">Details</a></div>
</div>
</div>
</div>

</div>

</div>
