* { margin: 0; padding: 0; }
body{
background:#eee;
font-family: 'SansationRegular', Arial, sans-serif;
color:#85050e;
margin:0;
padding:0;
background:#fff;
	background-image: url("/assets/pwood.jpg");
background-repeat: repeat;
}
#container
{
width:1080px;
margin:auto;

}
/* Header Section */
#headers
{
 border-bottom: 2px dotted #110022;
    box-shadow: 5px 5px 5px #272727;
    color: #C79F34;
    height: 90px;
}
#container-size
{
width:1080px;
margin:auto;
}
#logo
{
 position: absolute;
 top: 20px;
}
#logo .mainl
{
 font-size: 38px;
}
#logo .subl
{
font-size:15px;
}

/* Navigation Section */
#nav
{
    float: right;
    position: relative;
    top: 14px;
}
#contact_mini
{
margin-bottom:10px;
margin-left:114px;
}
#contact_mini img
{
margin-right:6px;
}
	.button {
		outline: 0;
		padding: 5px 12px;
		display: block;
		color: #9fa8b0;
		font-weight: bold;
		text-shadow: 1px 1px #1f272b;
		border: 1px solid #1c252b;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		background: #232B30; /* old browsers */
		background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
		box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
	}
	.button:hover {
		color: #fff;
		background: #4C5A64; /* old browsers */
		background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
	}
	.button:active {
		background-position: 0 top;
		position: relative;
		top: 1px;
		color: #fff;
		padding: 6px 12px 4px;
		background: #20282D; /* old browsers */
		background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
		-moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
		-webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
		box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
	}
		/* Other stuff: */
	.button-list { list-style: none; padding: 0; margin: 0; width: 100%; float: left; display: block; margin: 0 0 30px; }
	.button-list li { float: left; margin: 0 10px 0 0; }
	.button-list li.search { border-left: 1px solid #273137; padding-left: 18px; margin-left: 10px; position: relative; }
	/* Ends */



/* Main Section */
#content
{
	/*background-color: #eee;*/
	/*background-image: url("../images/bg.png");*/
	/*background-repeat: repeat-x;*/
	height:440px;

}
/* Coming Soon Page */
#comingsoon
{
width:510px;
margin:auto;
position:relative;
background: #fff;
margin-top:100px;
height:230px;
text-align:center;
color:#555;
/*-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;*/
border:4px solid #ccc;
border-radius: 6px 6px 6px 6px;
}


#comingsoon h1
{
margin-bottom:30px;
padding-top:14px;
color:#fbb409;
}
.lefty
{
padding-left:4px;
float:left;
width:28%;
font-size: 22px;
}
.circle_logo
{
 background-color: #336699;
 height: 89px;
 -moz-border-radius: 150px 0 0 0;
 width: 89px;
 margin-left:54px;
 margin-top:6px;
}
#logo_m
{
padding-top:34px;
margin-left:16px;
color:#003366;
font-size:34px;
text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
.righty
{
color: #336699;
    font-size: 17px;
    margin-left: 7%;
    margin-right: 6%;
    padding-left: 12px;
    text-align: left;
}
/* Ends */
#footer
{
height:20px;
background:#272727;
border-top:2px dotted #102;
}


.puff {
	position: absolute;
	width: 0px;
	height: 0px;
}


/* ----The Grid Design---- */
#product-box
{margin-top:10px;}
#productbox
{
width:760px;
position:relative;
margin-left:300px;
color:#2B96F1;
}
#leftbox
{
position:relative;
float:left;
height: 400px;
width: 270px;
}
.pro-individual
{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    width:220px;
    border:solid #ccc 1px;
    margin-bottom:10px;
    -moz-border-radius:3px;
}
.pro-individual img
{
width:210px;
height:230px;
margin:5px;
}
.pro-individual span
{
background:#2B96F1;
color:#fff;
padding:3px;
margin-bottom:3px;

}
.below-product
{
margin-left:5px;
}

/* slider on product page */
#slide-box{
width:710px;
position:relative;
height:280px;
margin:auto;
margin-bottom:20px;

}
.slider {
float:left;
width:700px;
height:260px;
position:relative;
padding-bottom:26px;
background:url(/assets/icons/bottom_shadow.png) no-repeat bottom center;
}

.sliderContent {
float:left;
width:700px;
height:260px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(/assets/icons/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:700px;
height:260px;
background:#fff;
}

.sliderBullets {
position:absolute;
bottom:0;
left:50%;
z-index:50;
margin-left:-45px;
}

.sliderBullets a {
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
background:url(/assets/icons/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}

a {
color: #999999;
}

a img {
border:none;
}
/* Ends */

/**
 * Name: Nice Menu
 * Version: 0.2
 * Author: Marcell Jusztin - http://www.marcelljusztin.com
 * Description: A simple, elegant, colorful, CSS3 animated menu
 * Tags: css3, animation, menu, simple, elegant, colourful
 * License: http://creativecommons.org/licenses/by-sa/3.0/
 *
 * Changelog v0.2:
 * - Changed animation to support percentage, so there is no need to update values one-by-one
 *
 *
**/

ul.nice-menu {
  list-style: none;
  margin-top: 30px;
  width: 200px; /* Set the size here */
  overflow: hidden;
}

@-moz-keyframes expand {
  0% {
    width: 5%;
    padding-left: 0px;
  }

  100% {
    width: 100%;
    padding-left: 20px;
  }
}

@-moz-keyframes expand-bounce {
  0% {
    width: 5%;
    padding-left: 0px;
  }

  50% {
    width: 100%;
  }

  70% {
    width: 85%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 95%;
  }

  100% {
    width: 100%;
    padding-left: 20px;
  }
}

@-webkit-keyframes expand {
  0% {
    width: 5%;
    padding-left: 0px;
  }

  100% {
    width: 100%;
    padding-left: 20px;
  }
}

@-webkit-keyframes expand-bounce {
  0% {
    width: 5%;
    padding-left: 0px;
  }

  50% {
    width: 100%;
  }

  70% {
    width: 85%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 95%;
  }

  100% {
    width: 100%;
    padding-left: 20px;
  }
}

@-moz-keyframes shrink {

  0% {
    width: 100%;
    padding-left: 20px;
  }

  100% {
    width: 5%;
    padding-left: 0px;
  }
}

@-moz-keyframes shrink-bounce {

  0% {
    width: 100%;
    padding-left: 20px;
  }

  50% {
    width: 5%;
  }

  70% {
    width: 20%;
  }

  80% {
    width: 5%;
  }

  90% {
    width: 10%;
  }

  100% {
    width: 5%;
    padding-left: 0px;
  }
}

@-webkit-keyframes shrink {

  0% {
    width: 100%;
    padding-left: 20px;
  }

  100% {
    width: 5%;
    padding-left: 0px;
  }
}

@-webkit-keyframes shrink-bounce {

  0% {
    width: 100%;
    padding-left: 20px;
  }

  50% {
    width: 5%;
  }

  70% {
    width: 20%;
  }

  80% {
    width: 5%;
  }

  90% {
    width: 10%;
  }

  100% {
    width: 5%;
    padding-left: 0px;
  }
}

ul.nice-menu li {
  height: 30px;
  line-height: 20px;
  padding: 0px 0px 0px 0px;
  margin-top: 3px;
  background: transparent;
  width: 5%;
}

ul.nice-menu.tight li {
  margin-top: 0 !important;
}

ul.nice-menu li {
  -moz-animation-name: shrink;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-name: shrink;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}

ul.nice-menu.bounce li {
  -moz-animation-name: shrink-bounce;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-name: shrink-bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}

ul.nice-menu li:hover {
  width: 100%;
  padding-left: 20px;
  -moz-animation-name: expand;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-name: expand;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}

ul.nice-menu.bounce li:hover {
  -moz-animation-name: expand-bounce;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-name: expand-bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}

ul.nice-menu a {
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  color: #FFF;
  text-shadow: 0px 0px 3px #333;
  font-weight: bold;
  position: absolute;
  padding: 5px 0px;
  padding-left: 20px;
}

ul.nice-menu li.green {
  background: rgb(107,186,112);
}

ul.nice-menu li.blue {
  background: rgb(78,92,127);
}

ul.nice-menu li.orange {
  background: rgb(216,121,40);
}

ul.nice-menu li.dark {
  background: rgb(42,32,30);
}

ul.nice-menu li.red {
  background: rgb(178,59,30);
}

ul.nice-menu li.bright {
  background: rgb(241,249,210);
}	
