<!DOCTYPE html>
<html>
<head>
  <title>Callingwood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<div id="header">
<div>
<div id="logo">Furniculars</div>
<div id="nav"><ul class="button-list">
<li class='button'>about</li>
<li class='button'>product</li>
<li class='button'>service</li>
</ul></div>
<div id="navcontact"></div>
</div>
<div></div>
</div>
<div id="content">
<%= yield %>
</div>
<div id="footer"></div>
</div>


</body>
</html>
